<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center mb-5 mb-md-0">
				<img class="img-fluid" src="https://www.mykingdom.com.vn/cdn/shop/files/do-choi-lap-rap-dau-truong-ninjago-lego-nijago-71818_1.jpg?v=1715762548&width=990" alt="">
			</div>
			<div class="col-md-6 align-self-center text-center text-md-left">
				<div class="block">
					<h1 class="font-weight-bold mb-4 font-size-60">Believe in Technology, Make the change</h1>
					<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, modi fugit in veritatis labore perferendis. Minima hic at, nostrum nihil!</p>
					
					<a href="products" class="btn btn-main">Browse All Products</a>
					
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section" id="features">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h2>Our Core Features</h2>
        </div>
      </div>
      <div class="col-md-4">
        
        <div class="mb-40 text-center text-md-left">
          <i class="d-inlin-block h2 mb-10 tf-ion-ios-alarm-outline"></i>
          <h4 class="font-weight-bold mb-2">Smooth Touch</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, inventore?</p>
        </div>
        
        <div class="mb-40 text-center text-md-left">
          <i class="d-inlin-block h2 mb-10 tf-ion-ios-bell-outline"></i>
          <h4 class="font-weight-bold mb-2">Elegant Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, inventore?</p>
        </div>
        
        <div class="mb-40 text-center text-md-left">
          <i class="d-inlin-block h2 mb-10 tf-ion-ios-cart-outline"></i>
          <h4 class="font-weight-bold mb-2">Easy Pricing</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, inventore?</p>
        </div>
        
      </div>
      <div class="col-md-4 text-center align-self-center mb-4 mb-md-0">
        <img class="img-fluid" src="https://www.mykingdom.com.vn/cdn/shop/files/21a8ae35e2b706e11393b3454ec209f6.jpg?v=1718267176&width=990" alt="">
      </div>
      <div class="col-md-4">
          
        <div class="mb-40 text-center text-md-left">
          <i class="d-inlin-block h2 mb-10 tf-ion-ios-alarm-outline"></i>
          <h4 class="font-weight-bold mb-2">Smooth Touch</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, inventore?</p>
        </div>
        
        <div class="mb-40 text-center text-md-left">
          <i class="d-inlin-block h2 mb-10 tf-ion-ios-bell-outline"></i>
          <h4 class="font-weight-bold mb-2">Elegant Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, inventore?</p>
        </div>
        
        <div class="mb-40 text-center text-md-left">
          <i class="d-inlin-block h2 mb-10 tf-ion-ios-cart-outline"></i>
          <h4 class="font-weight-bold mb-2">Easy Pricing</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, inventore?</p>
        </div>
        
      </div>
    </div>
  </div>
</section>
<section class="bg-orange section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center mb-5 mb-lg-0">
        <img class="img-fluid" src="https://www.mykingdom.com.vn/cdn/shop/files/Danh_muc_web_-_1280x360_b643c5a0-ad48-44c8-958d-97f57fa10921.jpg?v=1723630861" alt="">
      </div>
      <div class="col-md-6 align-self-center text-center text-md-left">
        <div class="content">
          <h2 class="subheading text-white font-weight-bold mb-10">Designed by professional , the benefit for creative gigs</h2>
          <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia vel labore, deleniti minima nisi, velit atque quaerat impedit ea maxime sunt accusamus at obcaecati dolor iure iusto omnis quis eum. <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis commodi odit, illo, qui aliquam dol</p>
        </div>
      </div>
    </div>
  </div>
</section>
</section>

<section class="feature-list section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>Why Choose Apple Watch</h2>
        </div>
      </div>
    </div>
    
    <div class="row mb-40">
      <div class="col-md-6 text-center mb-5 mb-lg-0">
        <img class="img-fluid" src="https://www.mykingdom.com.vn/cdn/shop/files/42165copy0.jpg?v=1709050891&width=990" alt="">
      </div>
      <div class="col-md-6 align-self-center text-center text-md-left">
        <div class="content">
          <h4 class="subheading">Lorem ipsum dolor sit amet.</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, sed, assumenda. Tenetur sed esse, voluptas voluptate est veniam numquam, quis magni. Architecto minus suscipit quas, quo harum deserunt consequatur cumque!</p>
          
        </div>
      </div>
    </div>
    
    <div class="row mb-40">
      <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
        <div class="content">
          <h4 class="subheading">Lorem ipsum dolor sit amet.</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, sed, assumenda. Tenetur sed esse, voluptas voluptate est veniam numquam, quis magni. Architecto minus suscipit quas, quo harum deserunt consequatur cumque!</p>
          
        </div>
      </div>
      <div class="col-md-6 order-md-2 order-1 text-center mb-5 mb-lg-0">
        <img class="img-fluid" src="https://www.mykingdom.com.vn/cdn/shop/files/eb245a572ec8e8c4ff245bf2207e8223.jpg?v=1706783317&width=990" alt="">
      </div>
    </div>
    
    
  </div>
